.contact{
    background-image:url(https://cdn.wallpapersafari.com/54/80/y5LYpV.jpg);
    border: 3px solid black;
    border-radius:20px;
    width: 40%;
    margin: 40px;
    height: 50vh;
    font-size: 30px;
}
input{
    background: transparent;
    border: 4px solid black;
    border-radius: 10px;
    width: 30%;
    height:60%;
    color: white;
    align-items: center;
    opacity: 40;
}
:-ms-input-placeholder{
    color: white;
}
h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 35px;
    margin: 40px;
}

.inp{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: transparent;
    font-size: 30px;
    
}

p input{
    background-color:rgba(202, 245, 118, 0.947);
    height: 40%;   
}

.inp textarea{
    background:transparent;
    padding: 10px;
    width: 40%;
    margin:20px;
    border:4px solid black;
    border-radius:20px;
}

p button{
    text-align: center;
    border:2px solid black;
    border-radius:10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:17%;
    height: 40px;
    font-size: 25px;
    background:transparent;
    
}

button:hover{
    background-color:white;
  

}